.is-uia-red {
    color: #C8102E;
}

a {
	transition: .5;
}

a:hover {
    color: #F2F3F5;
}

.is-uia-black {
    color: #131E29;
}

.is-uia-white {
    color: #F2F3F5;
}

.is-uia-bg {
    background-color: #131E29;
}

hr.divider {
    margin-top: 0em;
    margin-bottom: 0em;
    border-width: 2px;
}
